<nav class="navbar navbar-default">
<div class="container-fluid">

<!-- BRAND -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
<span class="sr-only">Sci-Track</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<%# <a class="navbar-brand" href="#">Sci-Track</a> %>
<%= link_to 'Sci-Track', registry_index_path, class: 'navbar-brand' %>
</div>

<!-- COLLAPSIBLE NAVBAR -->
<div class="collapse navbar-collapse" id="alignment-example">

<!-- Links -->
<ul class="nav navbar-nav">
<li class="active"><a href="/registry">Registries <span class="sr-only">(current)</span></a></li>
<li><a href="/coordinator">Coordinators</a></li>
<li><a href="/participant">Participants</a></li>
</ul>

<!-- Button -->
<button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>

</div>

</div>
</nav>